.carousel .item {
    height: 300px;
}

.item img {
    position: absolute;
    left: 0;
}


/*styling the controls of basic carousel */

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 30px !important;
    height: 70px !important;
    background-color: #333 !important;
}