.footer {
    color: white;
}

#facebookIcon,
#instagramIcon,
#twitterIcon {
    text-align: right;
    font-size: 1.7em;
    color: white;
    margin: 6px;
    margin-right: 0;
    top: -5px;
}

#facebookIcon:hover,
#instagramIcon:hover {
    color: powderblue;
}

.float-left {
    text-align: left;
    padding-left: 0;
}